.venv

.DS_Store
__pycache__/

Submissions/funkyai/runs/*.pt
Submissions/funkyai/runs/.model_cache/

# Hidden benchmarks
leaderboard/benchmarks_hidden

# Hidden model baseline
Submissions/PikoGPT_Baseline_GH_hiddien
Results/PikoGPT_Baseline_GH_hiddien
